    /* ------------------header --------------------*/

    .navbar {
        background-color:  #e3f2fd;
    }

    .container-fluid {
        text-align: center;
    }

    .nav-link {
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar-brand{
        font-size: 30px;
    }

     .barranavegadora{        /*barra de navegacion fija */
            position:fixed;
            top: 0;
            width: 100%;
            z-index: 100;
    }


    .radio{
        padding-top: 5px;
        padding-left: 30px;
        text-align: center;
        
        
    }

  /*-------------------- header -----------------*/




    /* --------------------body -----------------------*/

    .cuerpo-pagina{
        background:linear-gradient(45deg , rgb(234, 234, 255) 50%,rgb(95, 95, 238) 80%);

    }

        
    /* .proyector {
        
    } */

 /* -----------------------body -----------------------*/





 /*----------------------- main------------------------ */


    /*------------- componentes del carrusel ----------- */
        .carrusel{
            height: 400px;
            width: 700px;
            margin:auto;
         
        }
        .imgcarrusel {
            height: 400px;
            width: 700px;
        }
        .carousel-inner{

            border-radius: 15px;
            height: 400px;
            width: 700px;
            margin:auto;
        }

    /*------------- componentes del carrusel ----------- */        

        .titulos {
            text-align: center;
            padding-top: 6%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .parrafos{
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
 /*----------------------- main------------------------ */


 /* ----------------footer -------------------*/

        .footerindex{
            background-color: black;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            color: white;
            margin: auto;
            padding: 3px;
        }

        .pfooter {
            color: azure;
            text-align: center;
            height: 20px;
            
        }


/* ----------------footer -------------------*/




                /* ---------------------------------------- Contacto ----------------------------------------------------------- */





                /* ---------------------------------------- Contacto ----------------------------------------------------------- */



                /* ------------------------------------------------------- Login ----------------------------------------------- */


                        .formulariologin{
                            width: 30%;
                            height: 100%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 5%;
                            margin-bottom: 5%;
                            border-style:solid;
                            border-color: black;
                            border-radius: 15px;
                            text-align: center;
                            padding:50px;                            
                        }

                        .botonlogin{
                            padding-top: 5%;
                            margin-left: 20%;
                            margin-right: 30%;
                            margin-bottom: 5%;
                        }












    
                /* ------------------------------------------------------- Login ----------------------------------------------- */
