    /* ------------------header --------------------*/

    .navbar {
        background-color:  #e3f2fd;
    }

    .container-fluid {
        text-align: center;
    }

    .nav-link {
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar-brand{
        font-size: 30px;
    }

  /*-------------------- header -----------------*/




    /* --------------------body -----------------------*/

    .cuerpo-pagina{
        background:linear-gradient(50deg , rgb(234, 234, 255),rgb(95, 95, 238) );

    }

        
    /* .proyector {
        
    } */

 /* -----------------------body -----------------------*/





 /*----------------------- main------------------------ */

        .carrusel{
            height: 400px;
            width: 700px;
            margin:auto
           
        }
        .imgcarrusel {
            height: 400px;
            width: 700px;
        }

        .titulos {
            text-align: center;
        }

        .parrafos{
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
        }
 /*----------------------- main------------------------ */


 /* ----------------footer -------------------*/

        .footerindex{
            background-color: black;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            color: white;
            margin: auto;
        }

        .pfooter {
            color: azure;
            text-align: center;
            height: 20px;
            
        }


/* ----------------footer -------------------*/

